<div class="tane-widget-top resizable panel panel-default ui-widget">
  <div class="panel-body">
    <div class="col-sm-12">
      <h1>Lambfox Home</h1>
      <section>
        Relaxation with the VR Nature and Aqua experience.<br>
        <hr>
      </section>
    </div>
  </div>
</div>